@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:300,400,700');
body{
  font-family: 'Oswald', sans-serif;
}
h1,h2,h3,h4,h5{
    font-family: 'Oswald', sans-serif;

}

p{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.8rem;
}

a{
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    cursor: pointer;

    &:hover{
        text-decoration: none;
    }
}
